<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h2>Quiz Application</h2>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Index", "Quiz")">Quizes</a></li>
            <li><a href="@Url.Action("Index", "QuizTheme")">Quiz Themes</a></li>
            <li><a href="@Url.Action("Index", "QuestionType")">Question Types</a></li>
            <li><a href="@Url.Action("Index", "AnswerType")">Answer Types</a></li>
            <li><a href="@Url.Action("Index", "Question")">Questions</a></li>
            <li><a href="@Url.Action("Index", "Answer")">Answers</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Index", "User")">Users</a></li>
            <li><a href="@Url.Action("Index", "Role")">Roles</a></li>
            <li><a href="@Url.Action("Index", "Right")">Rights</a></li>   
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Index", "UserRole")">UserRoles</a></li>
            <li><a href="@Url.Action("Index", "")">UserRights</a></li>
            <li><a href="@Url.Action("Index", "")">RoleRights</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Login", "User")">Log In</a></li>
            <li><a href="@Url.Action("Register", "User")">Register</a></li>
            <li><a href="@Url.Action("Logout", "User")">Log Out</a></li>
        </ul>        
    </div>
</nav>